body{
    margin: 0;
    background-color: black;
    font-family: sans-serif;
    }

    #player {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
    }

img{
    max-width: 100%;
}

@media screen and (min-width:768px) {

    .toggle__menu {
        display: none;
        
        
    }
    
}

.toggle__menu{
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
    width: 40px;
    filter: invert(1);
    -webkit-filter: invert(1);
    z-index: 1;
}

.main__menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: black;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.main__menu--item{
    padding: 1em;
   
}

.main__menu--link{
    
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.main__menu--show{
    
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.toggle__menu--checkbox{
    
    display: none;
}
.toggle__menu--checkbox:checked + .main__menu{
    
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);

}

@media screen and (min-width: 768px) {

    .main__menu{
        flex-direction: row;
        justify-content: flex-end;
        transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
     
    }

    
}





.cards{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 60px 0;
    gap: 2em;
    

}

.card{
    padding-bottom: 2.5em;
    width: 100%;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    box-shadow: 0 0 6px rgba(222, 209, 209, 0.5);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;

}

.card__img--1{
   background-image: url(assets/the-strokes.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.card__img--2{
    background-image: url(assets/aliceinchains.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.card__img--3{
    background-image: url(assets/pinkfloid.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.card__texts{
    color: #fff;
}


.card__cta{
    margin-left: 1em;
    background-color: #fff;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 1em 3em;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

